body {
    background: beige;
}

.flex-container {
    display: flex;
    border: 1px solid black;
    background: #ccc;
    padding: 20px;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.caja {
    border: 1px solid gray;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin: 5px;
}

.c1 {
    background: lightblue;
    flex-grow: 1;
    order: 2;
    flex-basis: 50%;
}

.c2 {
    background: lightcoral;
    flex-grow: 1;
    order: 3;
}

.c3 {
    background: lightgreen;
    flex-grow: 1;
    order: 1
}